@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.top-section{
    background-color: #F0FFF0;
}
.green-button-nav{
    color: white !important;
    background-color: #21B573;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 400;
    border: 2px solid #21B573;
}

.green-button-nav:hover{
    color:#21B573;
    border: 2px solid #21B573;
    background-color: white;
}

.nav-link:hover{
    color: #21B573 !important; 
}

li a:hover{
    color: red;
}
.upper-text{
    color: #FD511A;
    font-weight: 400;
}

.header-text{
    font-weight: 700;
    font-size: 46pt;
    margin-bottom: 0px;
}

.green-text{
    color: #21B573;
}

.green-button{
    color: white;
    background-color: #21B573;
    padding: 8px 25px;
    border-radius: 90px;
    text-decoration: none;
    font-weight: 400;
    border: 2px solid #21B573;
}

.green-button:hover{
    color:#21B573;
    border: 2px solid #21B573;
    background-color: white;
}

.main-header{
    height: 90vh;
}

.section-margin{
    margin-top: 150px;
    margin-bottom: 150px;
}

.cards{
    background-color: #F0FFF0;
    border-radius: 10px;
    transition: transform 0.4s;
}

.cards:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.cards .img-div{
    height: 130px;
}

.card{
    
    border-radius: 18px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-footer{
    background-color: white;
    border: none;
}

.testimonial-text{
    text-align: justify;
}

.footer-user{
    text-decoration: none;
    color: white;
}

.footer-user:hover{
    color: #21B573;
}
